[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.7"
gunicorn = "~=20.1.0"
whitenoise = "~=6.4.0"
dj-database-url = "~=1.2.0"
psycopg2-binary = "~=2.9.5"
djangorestframework = "~=3.14.0"
dj-rest-auth = "~=2.2.8"
django-allauth = "~=0.52.0"
pillow = "~=9.4.0"
clarifai-grpc = "~=9.2.0"
django-storages = "~=1.13.2"
boto3 = "~=1.26.91"
django-phonenumber-field = "~=7.0.2"

[dev-packages]

[requires]
python_version = "3.11"
