.footer-container {
    background-color: hsl(200, 100%, 50%);
    height: 15vh;

    background-color: white;

}

#footer-img {

    width: 90px;
    height: 9   0px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 20%;

}