/* @font-face {
    font-family: 'HitandRun!';
    src: url('./HitandRun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

h1 {
    font-family: 'HitandRun', sans-serif;
}