nav.navbar.navbar-expand-md.navbar {
    background-color: #ffffff;
    /* border-bottom: 5px solid #00aaff; */

    margin: auto;
    text-decoration: none;
}

nav.navbar.navbar-expand-md.navbar a {
    text-decoration: none;
}

.navbar {
    height: 18vh
}

a.m-2#header {
    color: #00acff;
    padding: 5px 10px;
    border-radius: 14px;
}

a.m-2#header:hover {

    color: #0095e0;
    padding: 5px 10px;
    border-radius: 14px;
}

a.m-2#header:active {

    color: #0a9be3;
    padding: 5px 10px;
    border-radius: 14px;

}

.navbar-brand {
    font-size: 55px;
    font-weight: 800;
    color: #00acff;
    margin: 0px 30px 0px 20px;

}


.navbar-brand:hover {

    font-weight: 800;
    color: #008ed5;

}

#header-dropdown {
    font-size: 55px;
    color: #00acff;


}

.me-auto.navbar.navbar-expand.navbar-light {
    position: relative;
    justify-content: end;

}

.me-auto.navbar.navbar-expand.navbar-light a {

    background-color: #00acff;
    border: 1px solid #00acff;
    border-radius: 14px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 0px 0px 0px;

}



.me-auto.navbar.navbar-expand.navbar-light a:active {
    background-color: #0099e5;
    border: 1px solid #0a6b9b;
    border-radius: 14px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.me-auto.navbar.navbar-expand.navbar-light a:hover {
    text-decoration: none;
    background-color: #008ed5;
    border: 1px solid #0a6b9b;
}

.me-auto.navbar.navbar-expand.navbar-light a:link {
    text-decoration: none;
}

.me-auto.navbar.navbar-expand.navbar-light a:visited {
    text-decoration: none;
}