#container-donation {
    background-color: #00acff;

    height: 100vh;
    max-width: 70%;

}

#container-donation-image {

    margin: 5% 10px 10px 5px;
    border: 1px solid transparent;
    border-radius: 14px;
    background-color: #00cffb;
    height: 50vh;
    width: 30%;
    object-fit: contain;

}

#image-container {
    background-color: white;
    margin: 15px auto;
    max-width: 75%;
    border: 1px solid transparent;
    border-radius: 14px;
    height: 40vh;
    padding: 1px;





}

#image-container>#donation-image {
    /* max-height: 40vh; */
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 14px;

}


#container-donation-form {

    margin-top: 5%;
    margin-right: 5px;

    border: 1px solid transparent;
    border-radius: 14px;
    background-color: #00cffb;
    height: 50vh;
    width: 68%;
}

#container-donation-form>Form {
    max-width: 90%;
    margin: auto;
}

#recommended-tags {
    background-color: white;
    height: fit-content;

    border: 1px solid transparent;
    border-radius: 14px;
    margin: auto;
    padding: 2px;
    max-width: 100%;
}

#recommended-tags>#tag-list {
    list-style: none;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 0%;

}



button#tag-button.btn:active {
    background-color: #00acff;
    color: #ffffff;
}