body {
    background-color: #ecf7ff;
}



#container-homepage {
    background-color: #00acff;
    height: 100%;

    padding: 0;

}

div#hero-container.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.hero-container {
    position: relative;
    height: 600px;

    padding: 0;
    margin: auto
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #070707;
    z-index: 1;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    color: #3688db;
}

.hero-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #00acff;
    border-radius: 1.5rem;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.hero-button:hover {
    background-color: #00acff;
    color: #ffffff;
}

#container-mission {
    padding: 0;
    margin: 5% 0% 0% 0%;



}


#mission-top-text {
    background-color: #fff7fe;
    max-width: 70%;
    font-size: 30px;
    padding: 40px;
    border: 40px solid transparent;
    border-radius: 15px;
    margin: 10% 0%;
    color: #3688db;


}

#mission-image {
   
    max-width: 100%;
    object-fit: stretch;

    object-position: 0px 70%;


    padding: 0;

}

#mission-text-bottom {
    background-color: #fff7fe;
    max-width: 90%;
    font-size: 30px;
    padding: 40px;
    border: 40px solid transparent;
    border-radius: 15px;

    margin: 10% 0%;

}

#container-mission-bottom {
    background-color: #ffd2fa;
    padding: 0;
    margin: 0;
    height: 100%;

    padding: 0;
    margin: auto;

}