#profile-page {
    height: 80vh;

}

#profile-form {
    width: auto
}


#container-profile {
    /* height: 60vh; */
    width: auto;
    background-color: #00acff;

}

#profile-avatar-container {
    height: 20vh;
    width: auto;

    padding: 0%;

    display: flex;

    align-items: center;
    font-variant: small-caps;
    font-weight: bold;
}



#profile-avatar-image {

    border: 3px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    padding: 0;
    object-fit: cover;
    overflow: hidden;

}

/* div.col {
    border: 1px solid black;
    background-color: white;
    border-radius: 14px;
} */

svg#report {
    color: red;
}

#container-userinfo {
    height: 15vh;

    background-color: white;

}

#container-closet {

    /* background-color: #00acff; */
    max-height: auto;
    overflow: hidden;
    overflow-y: scroll;
}


/* div.card {
    display: flex;

} */

#user-closet-item {
    width: 25%;
    display: flex;
    flex-direction: row;
}