#container-storefront {
    max-width: 70%;

    /* big contender for backgroud color */
    background-color: #00acff;

}

.w-25.bg-info,
#panel-filter {
    /* max-height: 200vh; */
    padding-bottom: 10%;
    border: 1px solid transparent;
    border-radius: 14px 0px 0px 14px;
    background-color: #f9fdff;


}


h6 {
    padding-top: 10%;
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 5%;
}

#panel-store {

    border: 1px solid transparent;
    border-radius: 0px 14px 0px 0px;


}

#filter-section1,
#filter-section2,
#filter-section3,
#filter-section4,
#filter-section5,
#filter-section6 {
    width: 100%;
    margin-top: 0;
    padding: 0;

}

/* #filter-section1 div,
#filter-section2 div,
#filter-section3 div {
    display: flex;
    flex-wrap: wrap;
} */

#filter-section1 div p,
#filter-section2 div p,
#filter-section3 div p {
    flex-basis: 100%;
}

#filter-section1 div label,
#filter-section2 div label,
#filter-section3 div label {
    flex-basis: 33.33%;
    margin-bottom: 0;
}

#panel-store.w-75.bg-light {
    /* max-height: 183.8vh; */
    border: 1px solid transparent;
    border-radius: 0px 14px 14px 0px;
}

d.flex.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#container-storeItem>div {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}