#container-storefront {
    max-width: 70%;

    /* big contender for backgroud color */
    background-color: #00acff;

}

.w-25.bg-info,
#panel-filter {
    height: 100%;
    padding-bottom: 10%;
    border: 1px solid transparent;
    border-radius: 14px 0 0;


}

#panel-filter {
    position: sticky;
}

#filter-section1 {

    background-color: aqua;
    height: 25vh;
    margin-top: 15%;
    border: 1px solid transparent;
    border-radius: 14px 14px 0 0;
    border-bottom: 4px solid cadetblue;

}

#filter-section2 {
    background-color: aliceblue;
    height: 25vh;
    margin-top: 0;
    border-bottom: 4px solid cadetblue;
}

#filter-section3 {
    background-color: aqua;
    height: 25vh;
    margin-top: 0;
    border-bottom: 1px solid transparent;
    border-radius: 0 0 14px 14px;
}

h6 {
    padding-top: 10%;
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 5%;
}

#panel-store {

    border: 1px solid transparent;
    border-radius: 0px 14px 0px 0px;

}

#filter-section1,
#filter-section2,
#filter-section3 {
    width: 100%;
}

#filter-section1 div,
#filter-section2 div,
#filter-section3 div {
    display: flex;
    flex-wrap: wrap;
}

#filter-section1 div p,
#filter-section2 div p,
#filter-section3 div p {
    flex-basis: 100%;
}

#filter-section1 div label,
#filter-section2 div label,
#filter-section3 div label {
    flex-basis: 33.33%;
    margin-bottom: 0;
}