#col-item {
    overflow: hidden;
    border: 1px soild transparent;
    max-width: fit-content;

}

#row-item {
    border: 1px solid transparent;
}

.Card {
    overflow: hidden;
    border: 2px solid black;

}

.Card {
    border: 1px solid transparent;
    border-radius: 5px;
}

.CardImg {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;

    transition: transform 300ms ease-in-out;
    overflow: hidden;


}

.card-img-top.CardImg:hover {
    transform: scale(1.03);
    transform-origin: center center;

}

div#col-item {
    border: 1px solid transparent;
    border-radius: 5px;
}

div.card-body {
    border: .5px solid rgb(209, 209, 209);
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(247, 251, 255);

}

#item-user-avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1px;
}

@media (max-width: 767px) {
    .Col {
        width: 100%;
    }
}